@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    font-family: 'Comfortaa', sans-serif !important;
}

.donationspage {
    background-image: url('/assets/img/founders of hopegivers-section background.png');
    background-color: rgba(240, 19, 19, 0.94) !important;
    width: auto;
    height: 1897px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

h1 {
    font-size: 5rem !important;
    padding-top: 80px;
}
.typeofdonation{
    background-color: rgba(0, 0, 0, 0.61)!important;
    border-radius:20px;
    min-height: 351px;
    max-width: 1640px;
}
.btn-primary{
    background-color: #FD98A0!important;
    border-radius: 46px!important;
}